.exp-image {
    grid-area: image;
    text-align: center;
    background: linear-gradient(45deg, #3f5a7a, #aea3c1);
    border-radius: 16px;
    padding: 10%;
    color: powderblue;
    font-weight: bold;
}

.exp-company {
    grid-area: company;
    text-align: center;
    padding-top: 5%;
}

.exp-role {
    grid-area: role;
    text-align: center;
    padding-bottom: 5%;
}

.exp-desc {
    grid-area: desc;
}

.exp-grid-container {
    background-color: darkturquoise;
    box-shadow: 6px 6px #8b8888;
    border-radius: 15px;
    display: grid;
    grid-template-areas:
        "image company"
        "image role";
        
    grid-gap: 30px;
    // padding: 10px;
    margin: auto;
    grid-template-columns: 33% 50%;
    grid-template-rows: 1;
    width: 36%;
    
}


.line {
    text-align: center;
}
