.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: $secondar-font-size;  
  }
  
  .footer-info-title {
  font-weight: bold;
  margin-bottom: 10px;
  }
  
  .download-button-placement {
    margin: 10px;
  }

  .download-button {
   border: none;
   outline: none;
   text-align: center;
   font-size: $btn-font-size;
   padding: 10px 22px;
   background-color: #1194eb ;
   color: white;
   cursor: pointer;
   width: auto;
   height: auto;
   border-radius: 30px;
   text-decoration: none;
    &:hover {
      background: rgb(197, 139, 14);
   }
  }

  
  
  .fa-icon{
    font-size: $icon-font-size;
    color: #005085;
  }
  