@media screen and (max-width: 600px) {
    .circle-icon {
        display: none;
    }

    .primary-text {
        font-size: 34px;
        margin: 0px !important;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .home {
        flex-direction: column;
        align-items: normal;
        text-align: center;
    }

    .profile-img {
        max-width: 100%;
    }

    .profile-pic {
        width: 280px;
        height: 280px;
        margin: 10% 0 0 0;
    }

    .nav {
        display: block;
        float: none;
        left: 0px;
        top: 50px;
        width: 100%;
        
        // .icon {
        //     position: absolute;
        //     display: block;
        //     float: right;
        //     right: -12px;
        //     top: 0px;
        // }

        // a {
        //     display: none;
        //     border-right: 0px;
        // }


        // .expand-menu {
        //     // display: block;
        //     // position: absolute;
        //     position: relative;
        //     .icon {
        //         position: absolute;
        //         right: -12px;
        //         top: 0px;
        //     }

        //     a:not(:first-child) {
        //         text-align: center;
        //         border-bottom: rgb(1, 199, 34) 1px solid;
        //     }

        //     a {
        //         float: none;
        //         display: block;
        //         border-right: 0px;
        //     }
        // }
    }

    .nav .icon {
        position: absolute;
        display: block;
        float: right;
        right: -12px;
        top: 0px;
    }

    .nav .expand-menu {
        position: relative;
    }

    .nav.expand-menu .icon {
        position: absolute;
        right: -12px;
        top: 0px;
    }

    .nav.expand-menu a:not(:first-child) {
        text-align: center;
        border-bottom: rgb(1, 199, 34) 1px solid;
        
    }

    .nav.expand-menu a {
        float: none;
        display: block;
        border-right: 0px;
    }

    .nav a {
        display: none;
        border-right: 0px;
    }

    .cert-desc {
        display: none;
    }

    

    .cert-grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .skills {
        display: flex;
        flex-direction: column;
        padding: 6%;
        margin: 0 0 0 7%;
        width: 100%;
    }

    .text-bar-distance {
        margin-bottom: 2%;
    }

    .experience {
        display: flex;
        flex-direction: column;
        padding: 8%;
        margin: 0 0 0 7%;
        width: 68%;
    }
}
