.container {
  max-width: 100%;
  height: 100%;
  background-color: cyan;
  
}

.primary-text {
  font-size: 22px;
  font-weight: bold;
  color: black;
}


.secondary-text {
  font-size: 14px;
  color: #aa9ead;
}

.m-left {
  margin: 20px;
}

.page-margin {
  margin: auto;
}

.menu {
  float: right;
}

.topnav {
  overflow: hidden;
  /* background-color: rgb(110, 103, 103); */
  margin-right: 100px;

}

.topnav a {
  float: left;
  color: #300b0b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.phone {
  width: 33%;
}

.email {
  width: 33%;
}

.social-media {
  width: auto;
}